In [2]:
from google.cloud import bigquery
import pandas as pd

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = './Labor Statistics Project-27f747351078.json'

In [4]:
client = bigquery.Client()

In [5]:
query_job = client.query("""
    select 
    value,predicted_value,date
    from `labor-statistics-project.export_evaluated_examples_bls_sample_data_20190803020030_2019_08_03T13_12_34_235Z.evaluated_examples`""")

result = query_job.result()  # Waits for job to complete.

In [6]:
sample_data=pd.DataFrame(columns=['date','value','predicted_value'],index=range(0,700))

In [7]:
#Create a counter
i=0

In [8]:
for row in result:
    sample_data.date[i]=row.date
    sample_data.value[i]=row.value
    sample_data.predicted_value[i]=row.predicted_value
    i=i+1

In [9]:
sample_data

,date,value,predicted_value
0,2018-01-01 00:00:00+00:00,140.239,[{'tables': {'prediction_interval': {'end': 0....
1,2018-02-01 00:00:00+00:00,140.805,[{'tables': {'prediction_interval': {'end': 0....
2,2018-03-01 00:00:00+00:00,141.142,[{'tables': {'prediction_interval': {'end': 0....
3,2018-04-01 00:00:00+00:00,141.662,[{'tables': {'prediction_interval': {'end': 0....
4,2018-05-01 00:00:00+00:00,142.146,[{'tables': {'prediction_interval': {'end': 0....
...,...,...,...
695,2018-12-01 00:00:00+00:00,101.658,[{'tables': {'prediction_interval': {'end': 0....
696,NaN,NaN,NaN
697,NaN,NaN,NaN
698,NaN,NaN,NaN
699,NaN,NaN,NaN

In [10]:
sample=sample_data.groupby(['date'], as_index=False)['value','predicted_value'].sum()

In [11]:
sample

,date,value,predicted_value
0,2017-07-01 00:00:00+00:00,4009.227,[{'tables': {'prediction_interval': {'end': 0....
1,2017-08-01 00:00:00+00:00,4016.194,[{'tables': {'prediction_interval': {'end': 0....
2,2017-09-01 00:00:00+00:00,4041.757,[{'tables': {'prediction_interval': {'end': 0....
3,2017-10-01 00:00:00+00:00,4033.337,[{'tables': {'prediction_interval': {'end': 0....
4,2017-11-01 00:00:00+00:00,4032.456,[{'tables': {'prediction_interval': {'end': 0....
5,2017-12-01 00:00:00+00:00,4023.389,[{'tables': {'prediction_interval': {'end': 0....
6,2018-01-01 00:00:00+00:00,4044.166,[{'tables': {'prediction_interval': {'end': 0....
7,2018-02-01 00:00:00+00:00,4063.590,[{'tables': {'prediction_interval': {'end': 0....
8,2018-03-01 00:00:00+00:00,4069.333,[{'tables': {'prediction_interval': {'end': 0....
9,2018-04-01 00:00:00+00:00,4086.249,[{'tables': {'prediction_interval': {'end': 0....
10,2018-05-01 00:00:00+00:00,4103.566,[{'tables': {'prediction_interval': {'end': 0....
11,2018-06-01 00:00:00+00:00,4110.518,[{'tables': {'prediction_interval': {'end': 0....
12,2018-07-01 00:00:00+00:00,4103.031,[{'tables': {'prediction_interval': {'end': 0....
13,2018-08-01 00:00:00+00:00,4102.543,[{'tables': {'prediction_interval': {'end': 0....
14,2018-09-01 00:00:00+00:00,4107.339,[{'tables': {'prediction_interval': {'end': 0....
15,2018-10-01 00:00:00+00:00,4112.953,[{'tables': {'prediction_interval': {'end': 0....
16,2018-11-01 00:00:00+00:00,4094.161,[{'tables': {'prediction_interval': {'end': 0....
17,2018-12-01 00:00:00+00:00,4072.475,[{'tables': {'prediction_interval': {'end': 0....
18,2019-01-01 00:00:00+00:00,4077.570,[{'tables': {'prediction_interval': {'end': 0....
19,2019-02-01 00:00:00+00:00,4096.183,[{'tables': {'prediction_interval': {'end': 0....
20,2019-03-01 00:00:00+00:00,4119.711,[{'tables': {'prediction_interval': {'end': 0....
21,2019-04-01 00:00:00+00:00,4143.465,[{'tables': {'prediction_interval': {'end': 0....
22,2019-05-01 00:00:00+00:00,4155.842,[{'tables': {'prediction_interval': {'end': 0....
23,2019-06-01 00:00:00+00:00,4152.282,[{'tables': {'prediction_interval': {'end': 0....